@import 'colors';

body {
    background  : $background;
    font-weight : 500;
    color       : $fontColor;
    font-family : "Arial";
    display     : flex;
}

.emperor {
    background  : $background;
    font-weight : 500;
    color       : $fontColor;
    font-family : "Arial";
    display     : flex;
    border      : 3px solid red;
}